@{
    ViewBag.Title = "Home Page";
}

<h1>Welcome to Dashboard</h1>

<u>@Html.ActionLink("Patients", "Index", "Patients")</u> &nbsp;&nbsp;
<u>@Html.ActionLink("Bills", "Index", "Bills")</u>&nbsp;&nbsp;
<u>@Html.ActionLink("Reports", "Index", "Reports")</u>